.home1 {
    display: flex;
    padding-top: 40px;
    position: relative;
}

.like {
    position: absolute;
    margin-top: 50px;
    margin-left: 570px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.home1-left {
    /* display: inline-block; */
    font-family: "inner", sans-serif;
    background-color: #E7FAFE;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 620px;
    height: 640px;
}

.home1-right img {
    width: 660px;
    height: 640px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: block;
}

.home1-left h1 {
    line-height: 100%;
    width: 600px;
    font-size: 64px;
    margin-bottom: 24px;
}

.home1-left p {
    color: #00000099;
    width: 520px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.list-homeleft {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    gap: 13px;
    padding: 11px 20px 10px 20px;
    margin-bottom: 32px;
}

.profile-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
 
/* .profile-john {
    padding-top: 10px;
}

.profile-john h6 {
    font-size: 16px;
} */ 

.john-info {
    margin-top: 30px;
    padding-left: 20px;
}

.john-info h6 {
    font-size: 16px;
    font-weight: 700;
}


.small-btns {
    display: inline-flex;
    align-items: center;
    margin-bottom: 104px;
}


.small-btns span {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #00000099;
    margin-right: 15px;
    font-weight: 500;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 30px;
    background-color: rgba(82, 82, 82, 0.077);

}

.profile-john {
    display: flex;
    align-items: center;
    width: 165px;
}

button.btn-black {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    background-color: black;
    color: white;
}

.btn-sky-blue {
    background-color: #E7FAFE;
    font-size: 16px;
    cursor: pointer;
}

.categories-top {
    display: flex;
    justify-content: space-between;
}

section.categories {
    padding-top: 160px;
}

.categories-bottom {
    padding-top: 80px;
    display: flex;
    gap: 40px;
}

.category-card {
    cursor: pointer;
    width: 180px;
    /* border: 1px solid black; */
    border-radius: 30px;
    text-align: center;
    padding-bottom: 30px;
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}


.category-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    transition: 0.3s ease;
}

.category-card img:hover {
    transition: 0.3s ease;
    transform: scale(1.15);
    /* box-shadow: 0 10px 20px #105c7184; */
}

.category-card p {
    font-family: "inner", sans-serif;
    font-size: 18px;
    font-weight: 600;
}


/* recipes css*/

.recipes {
    padding-top: 183px;
    text-align: center;
}

.recipes .common-title {
    margin-bottom: 24px;
}

.recipes .common-p {
    width: 690px;
    margin: 0 auto;
    margin-bottom: 96px;
}

.recipes-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
}

.rate-like {
    position: absolute;
    margin-left: 300px;
    margin-top: 19px;
    z-index: 1;
}

.r-card {
    /* display: flex; */
    /* text-align: start;  */
    max-width: 400px;
    border-radius: 30px;
    height: 434px;
    /* border: 1px solid black; */
    padding: 16px 16px 32px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    cursor: pointer;
    transition: 0.3s ease;
}

.r-card:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 10px 20px #16728c63;
}

.r-card img {
    width: 100%;
    border-radius: 30px;
}

.card-bottom h3 {
    text-align: start;
}

.small-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}

.small-btn span {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    background: none;
    padding: 0;
    border: none;
}

.small-btn img {
    width: 24px;
    height: 24px;
}

.card-bottom h3 {
    padding-top: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.img-chef{
    margin-left: 580px;
}

.text-chef{
    margin-top: 100px;
}

.chek-instagram{
    padding: 80px 0px;
    text-align: center;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}
.common-btn {
    border-radius: 16px;
    border: none;
    padding: 21px 27px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 80px; /* увеличь число если надо ниже */
}


.chek-instagram .container > h2{
    margin-bottom: 24px;
}

.chek-instagram .container > p {
    margin-bottom: 80px;
}

.chek-instagram .container button {

}

.instagram-cards img {
    width: 290px;
    height: 445px;
}

.instagram-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 80;
}
